# Virtual environment (DO NOT include venv)
venv/
lib/
Scripts/
share/
Include/

# Python cache & environment files
__pycache__/
.env
.env.local
pyvenv.cfg

# Ignore Render build folder (if needed)
.build/
